<%- contentFor('breadcrumb') %>

<%- contentFor('body') %>

<div class="content-container settings">
	<div class="row">
		<div class="page-header">
		    <h3>TollBooth Fare</h3>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="form-group">
		        <label>Current tollboth Fare</label>
		        <input class="form-control fare-input" type="number" name="quantity" min="1" max="5" value="<%= fare %>">
		        <button type="button" class="btn btn-sm btn-success pull-right fare-update">Update</button>
		    </div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="page-header">
			    <h3>Users administration</h3>
			</div>
		</div>

		<!-- Trigger the modal with a button -->
		<!-- <a class="btn" data-toggle="modal" href="#myModal">Launch Modal</a> -->

		<div class="col-xs-12">
			<table id="userstable" class="display" cellspacing="0" width="100%">
		        <thead>
		            <tr>
		                <th>Name</th>
		                <th>Username</th>
		                <th>State</th>
		                <th>Actions</th>
		            </tr>
		        </thead>
		    </table>
	    </div>
	</div>
</div>

<!--Update Modal -->
<div class="modal" id="updateModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>

<!--Delete Modal -->
<div class="modal" id="deleteModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>User remove</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete user </p><span class="strong username"></span><p> ?</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>